@charset "UTF-8";

@import url ('https://fonts.googleapis.com/css2? família=Great+Vibes&display=swap');
@import url ('https://fonts.googleapis.com/css2? família=Great+Vibes&display=swap');

@font-face{
    font-family: 'cursiva';
    src: url('../font/Cursiva.otf') format('opentype')
    font-weight: normal;
    }

 :root{
     --cor0:#C7FFED;
    --cor1: #D8FFDB;
     --cor2:#008F8C;
     --cor3:#015958;
     --cor4:#023535;

     --fonte-padrao: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     --fonte-destaque: fonte-família: 'Grandes Vibrações', cursiva;
     --fonte-cursiva: 'cursiva', Georgia;
*{
    margin: 0px;
    padding: 0px;
}


 }
body{
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: #ffffff;
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
    font-weight: normal;
   margin-bottom: 15px;
   text-shadow: 2px 2px 0px black;
}
header > p{
    font-family: var(--fonte-cursiva);
    font-size: 1.2em;
    color: white;
   max-width: 600px;
   padding-right: 10px;
   padding-left: 10px;
   margin: auto;
   padding-bottom: 20px;
   text-shadow: 2px 2px 0px black;
}
nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 3px 4px 9px #342424;
}
nav > a{
    color: rgb(213, 180, 180);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.7s;
}
nav > a:hover{
    background-color: #008F8C;
    color: var(--cor4);
    
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #b7d9ba;
    box-shadow: 3px 14px 28px #342424;
}
main p{
    margin: 15px 0px ; 
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1.3em;
}

main h1{
    color: rgb(0, 0, 0);
    font-family: var(--fonte-cursiva);
}

main h2{
    font-family: var(--fonte-cursiva);
    color: var(--cor1);
    font-size: 1.2em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor4),transparent);
    text-indent: 8px;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
}

main a {
     text-decoration: none;
     font-weight: bold;
     color: var(--cor1);
     background-color: var(--cor2);
     padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
 div.video{
    background-color: var(--cor2);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
 }
 div.video > iframe{
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
 }

main img{
    width: 100%;
    
}

aside{
    background-color: #015958;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
}
 aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
 }

aside > ul{
    list-style-type: '\1F5F8\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 1.1em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor2);
}
